/* style.css */
body {
    font-family: 'League Spartan', sans-serif;
}

.h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Slightly bold */
}

.header{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Slightly bold */
    background-color: #2C3E50;
    color: #FFF;
}
.text-menu-color {
    color: #FEBE67;
    font-weight: 600; /* Slightly bold */
    font-family: 'League Spartan', sans-serif;
}
